@import 'bourbon';
@import 'reset';
/************ GLOBALS ***************/
body{
	width:100%;
	font-family:'Noto Serif',serif;
	color:#333;

	a{
	color:#5A94D7;
	text-decoration:none;
	}

/************ SPECIFICS *************/
	#header{
		width:80%;
		margin:10%;
		#branding{
			object{
				width:100%;
			}
			h1,h2{
				text-align: center;
				font-family: 'Noto Sans', sans-serif;
				font-weight: bold
			}
			h1{
				color:#999;
			}
			h2{
				font-family: 'Noto Serif', serif;
				color:#525252;
			}
		}
		nav{
			a{
				width:33%;
				float:left;
				text-align: center;
				&:hover{
				}
				i{

				}
				p{
				}
			}
		}
	}
}