{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">
    <div class="site-intro">
        <h1>UX Designer. All Purpose Nerd. Thing Explainer.</h1>
        <div class="tile">
            <a href="">
                <img>
                <h2>See my work</h2>
            </a>
        </div>
        <div class="tile">
            <a href="">
                <img>
                <h2>Eat some biscuits</h2>
            </a>
        </div>
    </div>

    {{> "loop"}}


    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>