{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
<main class="content" role="main">
    {{> itemimage}}

  <h1 class="post-title"><strong>Tag</strong>: {{tag.name}}</h1>

  {{> "loop"}}
</main>

{{pagination}}
