!!!5
%html
	%head
		%title {{meta_title}}
		%meta(charset="utf-8")
		%meta(http-equiv="X-UA-Compatible" content="IE=edge")
		%meta(name="description" content="{{meta_description}}")
		%meta(name="HandheldFriendly" content="true")
		%meta(name="viewport" content="width=device-width, initial-scale=1.0")

		:plain
			<link rel="stylesheet" type="text/css" href="{{asset"css/style.css"}}"/ >
		
		//%link(href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")
		
		%link(href="/assets/css/font-awesome.min.css" rel="stylesheet")
		%link(href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic|Noto+Serif:400,700,400italic' rel='stylesheet' type='text/css')
		:plain
			<link rel="shortcut icon" href="{{asset "favicon.ico"}}">
			{{ghost_head}}
	%body.animating-in
		#header
			#nav_wrap
				#nav_toggle.no-js
					%i.fa.fa-bars.animated
					%p MENU
					-#				
						#search
							%form
								%input#search_field(placeholder="Search" maxlength="25")
								%input(type="submit" value="search" id="submit_btn")
								%i#search_icon.fa.fa-search
					.clear
				%nav.shrink_hider
					#navigation
						%a#home(href="/home")
							%i.fa.fa-home Home
						%a#projects(href="/projects")
							%i.fa.fa-briefcase Projects
						%a#about(href="/about")
							%i.fa.fa-question-circle About
						%a#resume(href="/resume")
							%i.fa.fa-file-text Resume
						.clear
			#branding
				#logo
					%a(href="www.glucasroe.com")
						%img(src="assets/img/seal.svg" class="logo" alt="G. Lucas Roe")
			.clear
		#post_body.animate-in
			{{{body}}}


		%footer
			#social
				%h3 Me on the Interweb$
				%a(href="https://plus.google.com/+GLucasRoe/posts")
					%i.fa.fa-google-plus-square
				%a(href="https://www.linkedin.com/in/glucasroe/")
					%i.fa.fa-linkedin-square
				%a(href="https://github.com/glucasroe")
					%i.fa.fa-github-square
				%a(href="https://twitter.com/glucasroe")
					%i.fa.fa-twitter-square
				%a(href="/rss")
					%i.fa.fa-rss-square
			#copyright
				:plain
					<p>Unless otherwise noted, content is &copy; 2014 G. Lucas Roe, and shouldn't be used without at least asking nicely. I can't stop you, but some wicked bad karma will come your way.</p>

		%script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		:plain
			<script type="text/javascript">
			 	window.jQuery || document.write(<script src='assets/js/jquery.js'>\x3C/script>")
			</script>
			{{ghost_foot}}
		%script(type="text/javascript" src="assets/js/jquery-1.11.0.min.js")
		%script(type="text/javascript" src="assets/js/modernizr-full.js")
		%script(type="text/javascript" src="assets/js/functional-ck.js")
