html{
	font-size: 100%;
}
body{
	width:100%;
	font-family:$serif;
	color:#333;
	* + *{
		margin:1em auto 0;
		font-size: 1rem;
	}
}

main{
	max-width: 50rem;
	margin: 0 auto 0;
	position:relative;
	padding: 0 1.5em;
}
a{
	color:$red;
	text-decoration:none;
	@include transition(color,.5s);
	&:hover{
		color: $dark-red;
		text-shadow: 1px 1px 0px #fff,2px 2px 0px fade-out($dark-red,0.6);
	}
	p > &{
		@include background-image(linear-gradient(top, rgba(0,0,0,0) 50%, fade-out($red,0.8) 50%));
		background-repeat: repeat-x;
		background-size:2px 2px;
		background-position: 0 1.15em;
		&:hover{
			@include background-image(linear-gradient(top, rgba(0,0,0,0) 50%, fade-out($red,1) 50%));
		}
	}
}

h1{
	font-size: 2.75rem;
	color:$cool-grey;
	font-family: $serif;
	line-height:1.1;
}


h2{
	font-size: 2.5rem;
	color:$cool-grey;
	&:after{
		content:'';
		display: block;
		position:relative;
		top: 5px;
		width:100%;
		border-bottom: 1px solid #eee;
	}
}

h3{
	font-size: 2rem;
	color:$cool-grey;
}

h4{
	font-size: 1.25rem;
	text-transform:uppercase;
	color:$red;
	text-align: left;
	font-family: $serif;
}

p,aside,pre code{
	font-size: 1rem;
	line-height: 1.75;
	color:#555;
	margin-left: auto;
	margin-right: auto;
}

code{
	font-family: monaco, monospace;
	color:#777;
	background-color:#efefef;
	border-radius:10px;
	padding: 2px 5px;
	margin:0 2px;
}
pre code{
	white-space: pre;
	line-height:1.25;
	float:left;
	margin:0 2.5% 1em;
	width:90%;
	padding:1em 2.5%;
	overflow:auto;
}
aside{
	color:$dark-red;
	font-family: $serif;
}
blockquote{
	display:block;
	background-color:$red;
	color:#fff;
	font: 1.5rem $serif;
	padding:2rem 0;
	a{
		color: white;
		background-image: linear-gradient(to bottom, transparent 50%, rgba(255,255,255,0.5) 50%);
		&:hover{
			text-shadow: 1px 1px 0px $red,2px 2px 0px fade-out(#fff,0.6);
			background-image:none;
		}
	}
	&>*{
		color:#fff;
	}
	h4{
		text-align:left;
		font-style: italic;
		color:#bbb;
		margin-top:1rem;
	}
}
q{
	width: 100%;
	display: block;
	color:lighten($cool-grey,20%);
	text-align: center;
	font-style: italic;
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
}
ol,ul{
	list-style-position: outside;
	margin-bottom: 2rem;
	font-size:1rem;
}
ol{
	list-style-type: lower-roman;
}
ul{
	list-style-type: none;
}
ul li:before{
	font-family: sans-serif;
	content: '•';
	color: $red;
	position: relative;
	left:-.5rem;
}
ul ul, ol ol, ul ol, ol ul{
	margin-left: 2rem;
	padding-left: 0;
}
li{
	margin-left: 3rem;
	margin-bottom: 0.25em;
	line-height:1.6;
}
hr{
	/*border: 1px solid #eee;*/
	border:none;
	height:1px;
	display:block;
	@include linear-gradient(left, $red, $dark-red);
}
strong{
	font-weight: bold;
}
em{
	font-style: italic;
}
figure{
	position:relative;
	z-index: 1;
	figcaption{
		position: absolute;
		bottom: 0;
		left: 1.5em;
		padding:20px 0;
		z-index:2;
		width:100%;
		h2{
			text-transform: uppercase;
			font-family: $serif;
			font-weight: 900;
			color: #fff;
			&:after{
				border-bottom:0;
			}
		}
	}
}
::selection{
	background-color: $red;
	color:white;
}