.site-header{
	@extend %site-width;
	@extend %clearfix;
	background-color: $white;
	position:relative;
	a img{
		margin:1rem 0 1rem 1rem;
		display: inline-block;
		vertical-align: middle;
		width:100%;
		max-width: 6rem;
		-webkit-font-smoothing:antialiased;
	}
	h1,h2{
		text-align: left;
		font-family: $serif;
		font-weight: bold
	}
	h1{
		display:inline-block;
		vertical-align: middle;
		width:auto;
		color:#aaa;
		font-size: 1.5rem;
		text-align: center;
		margin-top: 0;
	}
	@media screen and (min-width:780px){
		h1{
			text-align: left;
			margin-left:1rem;
		}
	}
	h2{
		font-family: $serif;
		color:#777;
		font-size: 2rem;
	}
	nav{
		border: 1px $red solid;
		border-radius: 5px;
		margin-left:1rem;
		margin-right: 1rem;
		margin-top: 0;
		a{
			width:33.33333%;
			margin:0;
			padding: 10px 0;
			float:left;
			font-family: $serif;
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
			font-size: 0.9rem;
			letter-spacing: 1px;
			&+a{
				width: calc(33.33333% - 1px);
				border-left: 1px solid $dark-red;
			}
			&:hover{
				background-color: $red;
				color: #fff;
				text-shadow: none;
			}
		}
		@media screen and (min-width:780px){
			&{
				border:0;
				display:inline-block;
				vertical-align: middle;
				margin-top: 0;
				margin-left: 5rem;
				a{
					width:auto;
					float:none;
					&+a{
						border:0;
						margin-left: 2rem;
					}
					&:hover{
						background-color: #fff;
						color: $dark-red;
						text-shadow: 1px 1px 0px #fff,2px 2px 0px fade-out($dark-red,0.6);
					}
				}
			}
		}
	}
}