@media #{$tablet}{	
	header h1{
		font-size: 2rem;
	}
}	
@media #{$desktop}{
	ul ul, ol ol, ul ol, ol ul{
		margin-left: 2.5rem;
	}
	main,body>header{
		left: 5em;
	}
	aside{
		float:left;
		position:absolute;
		width:12em;
		padding:0;
		left:-15em;
		margin-left: 2.5%;
		text-align: right;
	}
}
figure img{
	margin-left:0;
	width:100%;
	max-width:100%;
}