article.post-preview{
	font-size:3rem;
	position: relative;

}
.post-excerpt{
	font-size: 1rem;
}

nav.pagination{
	text-align: left;
	margin-top:4rem;
	margin-bottom: -4rem;
	background-color: $grey-2;
	color: $white;
	padding: 0;
	position:relative;
	@extend %clearfix;
	&:before{
		width:10000px;
		left: -5000px;
		height: 5rem;
		top:0;
		margin-top:0;
		content:"";
		position:absolute;
		display:block;
		background-color: $grey-2;
		z-index: -1;
	}
	a{
		text-transform: uppercase;
		&:hover{
			background-color:$grey-9;
		}	
	}
	.paginator, .page-number{
		margin: 0;
		text-align: center;
		width: 33%;
		padding: 2rem 0;
		display: block;
		float:left;
	}
	.page-number{
		border-left: 1px solid $grey-4;
		border-right: 1px solid $grey-4;
	}
}