article.post-preview{
	font-size:3rem;
	position: relative;

}
.post-excerpt{
	font-size: 1rem;
}

nav.pagination{
	text-align: left;
	margin-top:4rem;
	margin-bottom: -4rem;
	background-color: $grey-2;
	color: $white;
	padding: 2rem 0;
	position:relative;
	&:before{
		width:10000px;
		left: -5000px;
		height: 5rem;
		top:0;
		margin-top:0;
		content:"";
		position:absolute;
		display:block;
		background-color: $grey-2;
		z-index: -1;
	}
	a{
		text-transform: uppercase;
		margin:0 1rem;
		i{
			margin:0 0.5rem;
		}
		&.newer-posts{
			margin-left: 0;
			i{
				margin-left: 0;
			}
		}			
	}
}