$sans:'Noto Sans', 'Myriad Pro', Helvetica, Arial, sans-serif;
$serif:'Noto Serif', 'Baskerville', 'Palatino Linotype', Georgia, serif;
$red: rgba(204, 105, 71, 1);
$dark-red: darken($red,20%);
$white: #fff;
$cool-grey:#7A7F99;

$tablet: "screen and (min-width:600px)";
$desktop: "screen and (min-width:1000px)";

//Can I delete these yet? Lets grep the directory
$tan: #FFD1B2;
$light-blue:#73D3FF;
$peri-peri:#475DCC;
$light-green: #cffece;
$header-color:#fff;
$link-color:#475DCC;