$sans:'Noto Sans', 'Myriad Pro', Helvetica, Arial, sans-serif;
$serif:'Noto Serif', 'Baskerville', 'Palatino Linotype', Georgia, serif;
$link-color:#475DCC;
$header-color:#fff;
$light-green: #cffece;
$red: rgba(204, 105, 71, 1);
$dark-red: darken($red,20%);
$white: #fff;
$tan: #FFD1B2;
$light-blue:#73D3FF;
$cool-grey:#7A7F99;
$peri-peri:#475DCC;